<div>
    <a href="@Url.Action("Index","Home")">Домой</a>
</div>
<ul>
    <li>
        <a href="@Url.Action("Solution1")">"В лоб"</a>
    </li>
    <li>
        <a href="@Url.Action("Solution2")">unobtrusive javascript</a>
    </li>
    <li>
        <a href="@Url.Action("Solution3")">MvcExtensions + unobtrusive javascript</a>
    </li>
</ul>
<div>
    <a href="@Url.Action("Index","Home")">Домой</a>
</div>
